@import "../../styles/utils/variables.scss";

.headerWrapper {
  display: flex;
  justify-content: space-between;
  height: 76px;
  align-items: center;
  border-bottom: 1px solid $primary-500;
  padding: 0 100px;
  background-color: $black-100;

  @media (min-width: 2500px) {
    padding: 22px 100px;
    height: auto;
  }

  @media (max-width: 1024px) {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-template-rows: repeat(2, 1fr);
    gap: 21px;
    height: auto;
    padding: 25px 16px;
  }
}
